<div class="container" id="dashboard-page">
    <div class="row">

      <div class="col-md-8 offset-md-2" id="dashboard-wrapper">
        <div class="row">

          <div class="col-md-6">
          
            <ul class="event-list">
              <h3>My Created Events</h3>
              <li class="event-list-item" ng-repeat="event in dashboard.hostingEvents">
                <h5>{{event.title}}</h5>
                <p><img src="img/time.png">{{event.startTime}}</p>
                <p><img src="img/location.png">{{event.location.lng}}</p>
              </li>
            </ul>

          </div>

          <div class="col-md-6">
          
            <ul class="event-list">
              <h3>My RSVP'd Events</h3>
              <li class="event-list-item" ng-repeat="event in dashboard.attendingEvents">
                <h5>{{event.title}}</h5>
                <p><img src="img/time.png">{{event.startTime}}</p>
                <p><img src="img/location.png">{{event.location}}</p>
              </li>
            </ul>

          </div>
        
        </div>
      </div>

  </div>
</div>