<div class="container" id="event-page">
    <div class="row">

      <div class="col-md-8 offset-md-2" id="event-wrapper">
        <h1 class="text-center">{{ events.title}}</h1>
        <h5 class="text-center">{{events.startTime | date: 'EEEE d MMM HH:mm'}} - {{events.endTime | date: 'EEEE d MMM HH:mm'}}</h5>

        <div id="rsvp-button-wrapper" ng-hide="events.currentUserAttending">
          <button type="button" class="btn btn-publish2" ng-click="events.submitRsvp()">
              RSVP
          </button>
        </div>

        <div id="rsvp-confirmed-button-wrapper" ng-show="events.currentUserAttending">
          <button type="button" class="btn btn-publish2 unattend-button" ng-click="events.submitRsvp()">
              I'M ATTENDING
          </button>
        </div>

        <div id="atendees-wrapper">
          <h4>People Attending this event</h4>
          <ul class="atendees-list">
            <li ng-repeat="attendee in events.attendees">
                <img gravatar-src="attendee.email" gravatar-size="100">
                <span>{{attendee.name}}</span>
            </li>
            <!-- <p>
                <a href="#">+37 More Atendees</a>
            </p> -->
          </ul>
        </div>

        <div class="map-wrapper">
          <h5>{{events.address}}</h5>
          <div id="googleMap" ng-map center="[{{events.lat}}, {{events.lng}}]" zoom="13">
            <marker position="[{{events.lat}}, {{events.lng}}]" />
          </div>
        </div>

        <div class="details-wrapper">
          <div class="event-decription">
            <h4>Event Description</h4>
            <p>{{ events.description }}</p>
          </div>
        </div>

        <div class="details-wrapper event-section">
          <div class="container">
            <div class="row">
              <div class="snt-comment-profile-img col-md-2"><img gravatar-src="events.security.getUserEmail()" gravatar-size="50" width="50"></div>
              <div class="snt-comment-content col-md-10">
                <textarea placeholder="Write a comment ..."></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a class="snt-submit-comment btn btn-xs btn-primary">Submit</a>
              </div>
            </div>  
          </div> 
        </div>

      </div>

  </div>
</div>